name: "CI"

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  env-details-Xcode-13:
    name: Environment details Xcode 13
    runs-on: macOS-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.1.app/Contents/Developer
    steps:
      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: |
          xcrun simctl delete unavailable
          xcrun simctl list
  env-details-Xcode-12:
    name: Environment details Xcode 12
    runs-on: macOS-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_12.5.1.app/Contents/Developer
    steps:
      - name: xcode version
        run: xcodebuild -version -sdk

      - name: list simulators
        run: |
          xcrun simctl delete unavailable
          xcrun simctl list

  Xcode-13:
    name: Xcode 13
    runs-on: macOS-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.1.app/Contents/Developer
    strategy:
      matrix:
        destination: ["test_ios15", "test_tvos15","test_macos", "build_watchos"]
    steps:
      - name: git checkout
        uses: actions/checkout@v2
      - name: ruby setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: ${{ matrix.destination }}
        run: bundle exec fastlane ${{ matrix.destination }}
      - name: Generate code coverage
        if: matrix.destination != 'build_watchos'
        run: bundle exec fastlane generate_code_coverage
      - name: Codecov
        uses: codecov/codecov-action@v2

  Xcode-12:
    name: Xcode 12
    runs-on: macOS-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_12.5.1.app/Contents/Developer
    strategy:
      matrix:
        destination: ["test_ios14", "test_tvos14","test_macos", "build_watchos_xcode12"]
    steps:
      - name: git checkout
        uses: actions/checkout@v2
      - name: ruby setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: ${{ matrix.destination }}
        run: bundle exec fastlane ${{ matrix.destination }}
      - name: Generate code coverage
        if: matrix.destination != 'build_watchos_xcode12'
        run: bundle exec fastlane generate_code_coverage
      - name: Codecov
        uses: codecov/codecov-action@v2
